.align-center {
    text-align: center;
}

.table-align-center {
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border: 3px solid lightgrey;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

th {
    border: 3px solid lightgrey;
    padding: 5px;
    background-color: darkcyan;
    text-align: center;
}
